﻿@model BulkUpload.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="padding-top"></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <div class="panel-body">
                <div class="title-cus text-uppercase">
                    Login
                </div>
                <div class="padding-top"></div>
                @Html.HiddenFor(m => m.ReturnUrl)
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "error-text" })
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error-text" })
                </div>
                <button type="submit" class="btn btn-primary btn-customer">Submit</button>
                @Html.ValidationMessage("FailedToAuthenticateInEpicAppLogin", "", new { @class = "error-text" })
            </div>
        </div>
    </div>
}