﻿<div class="modal-header header-delete-custom">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><i class="fa fa-trash" aria-hidden="true"></i> Delete Loan</h4>
</div>
<div class="modal-body">
    Do you really want to delete loan @ViewBag.ClientLoanNumber?
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button name="btnDeleteConfirmed" type="button" class="btn btn-danger" data-client-loan-id="@ViewBag.ClientLoanId" data-commitment-number ="@ViewBag.CommitmentNumber">Delete</button>
</div>



