﻿@model List<BulkUpload.Models.LoanProp>
@using BulkUpload.Helpers

<div class="modal-header header-default-custom">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="modal-title">
        <h4><i class="fa fa-info-circle"></i> Loan @(Model.GetClientLoanNumberFromProperties())</h4>
        @if (!string.IsNullOrEmpty(ViewBag.DuplicatedLoanImportedDate))
        {
            <p class="modal-detail-header-warning" style="padding-left: 23px;"><i class="fa fa-exclamation"></i><span> Already committed on @ViewBag.DuplicatedLoanImportedDate</span></p>
        }
        @if (!string.IsNullOrEmpty(ViewBag.BreezeLoanNumber))
        {
            <h4 style="padding-left: 23px;">(Breeze Loan Number @ViewBag.BreezeLoanNumber)</h4>
        }
    </div>
</div>
<div class="modal-body limit-modal">
    <ul style="height: 100%;">
        @foreach (var prop in Model)
        {
            <li class="li-client-detail">
                <span class="column-name-label">@prop.BreezeColumnName :</span>
                <span>@prop.DisplayValue</span>
                @if (prop.MissingValue)
                {
                    <span class="error-badge">(Required)</span>
                }
                else if (prop.InvalidValue)
                {
                    <span class="error-badge">(@prop.ValidateDataErrorMessage)</span>
                }
            </li>
        }
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

