﻿@using Newtonsoft.Json;
@model IEnumerable<BulkUpload.Models.ClientLoansByCommitmentNumber>
@using BulkUpload.Helpers;

@Html.Hidden("hiddenCommitedLoansJsonString", JsonConvert.SerializeObject(Model))
@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-tr-commitment-number="@item.CommitmentNumber">
                    <td colspan="8" class="panel-group">
                        <div id="accordion" class="accordion" role="tablist" aria-multiselectable="true">
                            <div class="card mb-0">
                                <div id="heading" style="padding: 10px; font-size: 15px" class="card-header collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_@item.CommitmentNumber" aria-expanded="false" aria-controls="collapse_@item.CommitmentNumber">
                                    <span style="font-weight:bold;padding-left: 10px;">Commitment number : @item.CommitmentNumber</span>
                                </div>
                                <div id="collapse_@item.CommitmentNumber" class="card-body panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
                                    <div class="panel-body" style="border-top: 1px solid #386259">
                                        <table class="table table-bordered table-striped">
                                            <tr class="header-background">
                                                <th class="text-center">@Html.CheckBox("ckAllRegisterInBreeze", new { data_commitment_number = item.CommitmentNumber })</th>
                                                <th>CLIENT</th>
                                                <th>COMMITTED DATE</th>
                                                <th>CLIENT LOAN NUMBER</th>
                                                <th>BORROWER FIRST NAME</th>
                                                <th>BORROWER LAST NAME</th>
                                                <th>PROPERTY ADDESS</th>
                                                <th>ACTION</th>
                                            </tr>
                                            @foreach (var loan in item.ClientLoans)
                                            {
                                                <tr data-client-loan-id="@loan.Id" name="@item.CommitmentNumber">
                                                    <td style="text-align:center">@Html.CheckBox($"ckRegisterInBreeze", new { data_commitment_number = item.CommitmentNumber })</td>
                                                    <td>@loan.ClientName</td>
                                                    <td>@loan.ImportDate.ToString("M/d/yyyy")</td>
                                                    <td>@loan.LoanNumber</td>
                                                    <td>@loan.BorrowerFirstName</td>
                                                    <td>@loan.BorrowerLastName</td>
                                                    <td>@loan.PropertyAddress</td>
                                                    <td>

                                                        <a name="btnDetail" class="action-item cursor-pointer" data-toggle="tooltip" title="Click to view loan details" data-client-loan-id="@loan.Id"><i class="fa fa-eye"></i></a>
                                                        <a name="btnDelete" class="action-item cursor-pointer" data-toggle="tooltip" title="Click to delete this loan" data-commitment-number="@item.CommitmentNumber" data-count-client="@item.ClientLoans.Count" data-client-loan-id="@loan.Id"><i class="fa fa-trash-o"></i></a>
                                                    </td>
                                                </tr>
                                            }

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>


            }
        </tbody>
    </table>
    <div class="text-left">
        <div class="padding-top"></div>
        <button id="btnRegisterInBreeze" class="btn bu-btn" disabled="disabled"><i class="fa fa-sign-in" aria-hidden="true"></i> Register In Breeze</button>
        <button id="btnPreviewLoan" class="btn bu-btn" disabled="disabled"><i class="fa fa-file-o" aria-hidden="true"></i> Preview Loan</button>
    </div>
}
else
{
    <p style="font-style:italic; text-align:center;margin-top:20px;">No loan found.</p>
}

