﻿@model IEnumerable<BulkUpload.Entities.LoanData>

@{
    ViewBag.Title = "Imported Loans";
}

@Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-6 col-sm-12 title-cus ">
        <span class="text-uppercase">Commited Loans</span>
    </div>
    <div class="col-md-offset-2 col-md-4 col-sm-12 pull-right">
        <div class="input-group">
            <input type="text" class="form-control" id="txtSearchBox" placeholder="filter by client loan number, commitment number ...">
            <span class="input-group-btn">
                <button class="btn btn-search bu-btn" type="button"><i class="fa fa-search fa-fw"></i> Search</button>
            </span>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div id="divLoanClientData" class="row scroll-overflow" style="margin-top: 10px;"></div>
    <div id="loading" class="row" style="text-align:center; font-size: 60px; display: none;">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>

<!--Modal register result -->
<div class="modal fade" id="registerResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalRegisterResultModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header header-default-custom">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id=""><i class="fa fa-sign-in"></i> Register In Breeze Result</h4>
            </div>
            <div class="modal-body">
                <div id="showRegisterResult"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/loan-data")
