﻿
body {
    /*font-family: "Century Gothic", Arial, Helvetica, sans-serif;*/
    padding-top: 0px !important;
    padding-bottom: 0px;
}

a {
    text-decoration: none !important;
}

.header-layout-custom {
    background: #ffffff;
    box-shadow: 1px 1px 2px #00B097;
    padding: 0px 20px 0px 5px;
}

.title-cus {
    font-size: 24px;
    text-transform: uppercase;
    color: #00B097;
    font-weight: bold;
}

/*.btn-unboder {
    border-radius: 0px !important;
}*/

.padding-top {
    padding-top: 10px;
}

.navbar {
    margin: 0px !important;
}

.pannel-cus {
    margin-top: 15px;
    /*box-shadow: 2px 2px #d1f2ed;
    background: #f7fdfe;*/
}

.header-active {
    background: #9be1db;
    padding-bottom: 30px;
    color: white;
    text-decoration: underline;
    text-decoration-color: #00B097;
    text-decoration-style: solid;
}

.header-template {
    padding-top: 20px;
    text-decoration: none;
    font-size: 13px;
    color: #00B097 !important;
}

.navbar-brand {
    float: left;
    height: auto !important;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-nav > li > a {
    padding-top: 25px !important;
}

.btn-icon {
    text-decoration: none;
    background: none;
    border: none;
    color: #00B097;
    margin: 0px 5px 0px 5px;
    font-size: 15px !important;
}

#notifications {
    cursor: pointer;
    position: fixed;
    right: 0px;
    z-index: 9999;
    bottom: 0px;
    margin-bottom: 22px;
    margin-right: 15px;
    max-width: 300px;
}

.btn-customer {
    color: #fff;
    border-color: #00B097;
    background: #00B097 !important;
    border-radius: 0px;
}

.notifications {
    position: fixed;
    z-index: 9999;
}

    /* Positioning */
    .notifications.top-right {
        right: 10px;
        top: 25px;
    }

    .notifications.top-left {
        left: 10px;
        top: 25px;
    }

    .notifications.bottom-left {
        left: 10px;
        bottom: 25px;
    }

    .notifications.bottom-right {
        right: 10px;
        bottom: 25px;
    }

    /* Notification Element */
    .notifications > div {
        position: relative;
        margin: 5px 0px;
    }

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 50px;
    height: 50px;
    float: none;
    align-content: center;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.dropdown-item {
    width: 70%;
}

.fixed {
    table-layout: fixed;
}

.red {
    color: red;
    margin: 5px;
}

.border-error {
    border: solid 1px red !important;
    border-radius: 4px;
    margin-bottom: 5px;
}

.border-error-no-span {
    border: solid 1px red !important;
    border-radius: 4px;
}

.roll-table {
    overflow-x: auto;
}

div.preview {
    text-align: center;
}

.column-name-label {
    /*font-style: italic;*/
}

.column-value {
    font-weight: bold;
}

.error-badge {
    font-weight: bold;
    color: red;
    margin-left: 3px;
}

.li-client-detail {
    margin-top: 8px;
}

li {
    list-style-type: none;
}

.tip {
    color: #585654;
    font-style: italic;
    text-align: left;
}

.color-default {
    color: #01AD92;
}

.padding-top-30 {
    padding-top: 30px;
}

.icon-customer {
    font-size: 15px;
    color: #00B097
}

.header-delete-custom {
    background: #c9302c;
    color: white;
    font-weight: bold;
}

.header-default-custom {
    background: #00B097;
    color: white;
    font-weight: bold;
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px !important;
    border-radius: 0px !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
    height: 34px;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 999px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }

.error-text {
    color: red;
    font-style: italic;
}

.menu-item:hover {
    text-decoration: none;
    cursor: pointer;
}

.error-cell {
    background-color: #f9acac;
    color: white;
}

.tr-fatal {
    color: white;
    background-color: #FFB433;
}

.tr-error {
    color: white;
    background-color: #ff6b6b;
}

.tr-warning {
    background-color: #f7f29a;
}

.modal-header-confirm-override-loans {
    font-weight: bold;
}

.label-title-note {
    margin-left: 5px;
    float: left;
    padding-top: 3px;
}

.div-color-note {
    width: 25px;
    height: 25px;
    float: left;
    border: 2px solid #dfdfdf;
    margin-left: 30px;
    border-radius: 50%;
}

.modal-detail-header-warning {
    font-style: italic;
    color: #f7f29a;
}

.float-right {
    float: right;
    margin-left: 20px;
}

.wrapper1, .wrapper2 {
    width: 100%;
    border: none 0px RED;
    overflow-x: scroll;
    overflow-y: hidden;
}

.wrapper1 {
    height: 20px;
}

.wrapper2 {
}

.scrool-table-1 {
    width: 2450px;
    height: 20px;
}

.scrool-table-2 {
    width: 2450px;
    height: 100%;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.action-item {
    font-size: 15px;
    margin-right: 5px;
    color: #00B097;
}

.cursor-pointer {
    cursor: pointer;
}

.header-background {
    background: #00B097 !important;
    color: white;
    text-transform: uppercase;
}

.navbar {
    border-bottom: 1px solid #BBBBBB;
}

.nav-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #00B097;
    padding: 20px 0px;
    /*padding-left:10px;*/
    margin: 5px 0px 0px 10px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

    .nav-link:hover {
        opacity: 1;
    }

    .nav-link::before {
        transition: 300ms;
        height: 5px;
        content: "";
        position: absolute;
        background-color: #00B097;
    }

.nav-link-fade-up {
    color: #00B097 !important;
}

    .nav-link-fade-up:hover {
        border-bottom: 5px solid #00B097;
        color: #00B097 !important;
        opacity: 1;
    }

    .nav-link-fade-up::before {
        width: 100%;
        bottom: 5px;
        opacity: 0;
    }

    .nav-link-fade-up:hover::before {
        bottom: 10px;
        opacity: 1;
    }

.nav-link-fade-up-active {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    /*opacity: 0.7;*/
    background-color: #00B097;
    color: #ffffff !important;
}

    .nav-link-fade-up-active:hover {
        color: #00B097 !important;
        border-bottom: 5px solid #00B097;
    }

.nav > li > a {
}

.padding-to-20 {
    padding-top: 20px;
}

.img {
    width: 110%;
}

.navbar-nav > li > a {
    padding: 15px !important;
}

@media only screen and (max-width: 1024px) {

    .nav-link-fade-up-active {
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        position: relative;
        opacity: 0.7;
        background-color: #00B097;
        color: #ffffff !important;
    }

        .nav-link-fade-up-active:hover {
            color: red !important;
        }

    .img {
        width: 100px;
    }

    .nav-link {
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
        text-decoration: none;
        color: #00B097;
        padding: 0px 0px;
        margin: 0px 0px 0px 0px;
        display: inline-block;
        position: relative;
        opacity: 0.75;
    }

        .nav-link:hover {
            opacity: 1;
        }

    .navbar-nav > li > a {
        padding-top: 15px !important;
    }

    .nav-link-fade-up:hover {
        border-bottom: 3px solid #00B097;
        color: #00B097 !important;
        opacity: 1;
    }

    .navbar-right {
        float: left;
    }

    .scroll-overflow {
        width: 100%;
        overflow-x: scroll;
    }
}

.hover-btn {
    border: 1px solid #dfdfdf;
}

    .hover-btn:hover {
        background: #E6E6E6;
        border: 1px solid #dfdfdf;
    }

.table {
    font-size: 12px;
}

.bu-btn {
    opacity: 0.8;
    color: white !important;
    background-color: #00B097;
}

    .bu-btn:hover {
        opacity: 1;
    }

.bu-form-row {
    width: 100%;
}

.limit-modal {
    height: 450px;
    overflow: auto;
}

.fa-spin {
    color: #00B097 !important;
}

.btn-search {
    height: 34px;
}

.btn-back {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f13a";
    float: left;
}

.accordion .card-header.collapsed:after {
    content: "\f138";
}