﻿@model BulkUpload.Models.BreezeProperty
<tr name="editProperty" data-property-name="@Model.PropertyName">
    <td>
        @if (string.IsNullOrEmpty(Model.PropertyName))
        {
            @Html.TextBoxFor(modelItem => Model.PropertyName, new { @class = "form-control", @placeholder = "field name ..." })
        }
        else
        {
            <span id="propertyName" name="propertyName">
                @Html.DisplayFor(modelItem => Model.PropertyName, new { @class = "form-control" })
            </span>
        }
    </td>
    <td>
        @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", @placeholder = "display name ..." })
    </td>
    <td>
        @Html.DropDownListFor(m => m.DataType, new SelectList(ViewBag.DataTypes, "Value", "Text"), new { @class = "form-control", data_property_name = Model.PropertyName, @onchange = "ThePage.changeDataType(this.value)" })
    </td>
    <td>
        @Html.TextBoxFor(m => m.MaxStringLength, new { @class = "form-control", @placeholder = "max length ...", id = Model.MaxStringLength + Model.PropertyName })
    </td>
    <td>
        <div name="options">
            @foreach (var option in (Model.Options ?? new List<string>()))
            {
                @Html.Partial("_Option", option)
            }
        </div>
        <a name="addEnumerationsOption" class="bu-btn btn" data-property-name="@Model.PropertyName" onclick="ThePage.addEnumerationsOption(this)">Add option</a>
    </td>
    <td>
        @Html.TextBoxFor(m => m.RegrexPattern, new { @class = "form-control" })
    </td>
    <td>
        @Html.CheckBoxFor(m => m.Mandatory)
    </td>
    <td>
        @Html.TextBoxFor(m => m.Order, new { @class = "form-control" })
    </td>
    <td>
        @Html.TextBoxFor(m => m.ExportUsingName, new { @class = "form-control" })
    </td>
    <td>
        @Html.CheckBoxFor(m => m.IsCurrency)
    </td>
    <td>
        @Html.CheckBoxFor(m => m.RoundNumberDown)
    </td>
    <td style="padding-left:15px;">
        <i name="btnSave" data-property-name="@Model.PropertyName" class="btn-icon fa fa-save padding-top icon-customer" style="font-size: 15px" onclick="ThePage.saveField(this)"></i>
        <i name="btnCancel" data-property-name="@Model.PropertyName" class="btn-icon fa fa-times padding-top icon-customer" style="font-size: 15px" onclick="ThePage.cancelEdit(this)"></i>
    </td>
</tr>