﻿@model IEnumerable<BulkUpload.Models.BreezeProperty>

<div class="padding-top"></div>
<table class="table table-bordered table-hover table-striped" id="tableBreezeProperty">
    <tr class="header-background" name="header">
        <th>
            @Html.DisplayNameFor(model => model.PropertyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxStringLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Options)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegrexPattern)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mandatory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExportUsingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCurrency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoundNumberDown)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.Partial("_View", item)
    }

</table>
