﻿@model System.String
<p style="display:flex;">
    <input name="enumerationsOption" type="text" class="form-control" value="@Model" />
    <button name="deleteEnumerationsOption" class="btn bu-btn" style="background-color:red;" onclick="ThePage.deleteEnumerationsOption(this)"><i class="fa fa-times"></i></button>
</p>