﻿@model BulkUpload.Models.BreezeProperty

    <tr data-property-name="@Model.PropertyName" data-order="@Model.Order" name="propertyInfo">
        <td>
            <span id="lblPropertyName" name="lblPropertyName">
                @Html.DisplayFor(modelItem => Model.PropertyName)
            </span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.DisplayName)
        </td>
        <td>

            @Html.DisplayFor(modelItem => Model.DataType)
        </td>
        <td>
            @if (Model.DataType.ToString() == "STRING")
            {
                @Html.DisplayFor(modelItem => Model.MaxStringLength)
            }

        </td>
        <td>
            @if (Model.Options != null && Model.DataType.ToString() == "ENUMERATIONS")
            {
                <ul style="padding-left:0px;">
                    @foreach (var option in Model.Options)
                    {
                        <li>@option</li>
                    }
                </ul>
            }
        </td>
        <td>
            @Html.DisplayTextFor(m => m.RegrexPattern)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => Model.Mandatory)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => Model.Order)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => Model.ExportUsingName)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => Model.IsCurrency)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => Model.RoundNumberDown)
        </td>
        <td style="padding-left:15px;">
            <i name="btnEdit" class="fa fa-pencil-square-o btn-icon icon-customer" data-property-name="@Model.PropertyName" data-data-type="@Model.DataType" style="font-size: 15px" onclick="ThePage.editField(this)"></i>
            @if (!ViewBag.UndeletableProperties.Contains(Model.PropertyName))
            {
                <i name="btnDelete" data-placement="top" class="fa fa-trash-o btn-icon" data-property-name="@Model.PropertyName" data-property-display-name="@Model.DisplayName" style="font-size: 15px" onclick="ThePage.deleteField('@Model.PropertyName')"></i>
            }
        </td>
    </tr>

