﻿
@{
    ViewBag.Title = "Breeze Field Management";
}

<div class="row">
    <div class="col-md-6 title-cus text-uppercase">
        BREEZE FIELD MANAGEMENT
    </div>
    <div class="col-md-6 text-right">
        <a name="btnAdd" href="#" title="Add" class="btn bu-btn" onclick="ThePage.addField()"><i class="fa fa-plus"></i> Add Field</a>
    </div>
</div>
<div id="loading" class="text-center"></div>
<div id="lstBreezeColummapping" class="scroll-overflow"></div>

<div class="modal fade" id="modalDeleteBreezeProperty" tabindex="-1" role="dialog" aria-labelledby="myModalDelete">
    <div class="modal-dialog" role="document">
        <input type="hidden" id="propertyNameToDetele" />
        <div class="modal-content">
            <div class="modal-header header-delete-custom">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-trash" aria-hidden="true"></i> Delete Loan Field</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete <label id="lblpropertyName"></label> field?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" name="btndeleteBreezeProperty"  onclick="ThePage.deleteFieldConfirmed()">Delete</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/breeze-property-management")