﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/images/favicon.png" type="image/png">
    <title>@ViewBag.Title - Bulk Upload</title>

    @Styles.Render("~/bundles/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/services")
    @Scripts.Render("~/bundles/master-page")

    @RenderSection("scripts", required: false)

</head>
<body>
    @{
        var applicationName = System.Configuration.ConfigurationManager.AppSettings["ApplicationName"];
        var templatePageURL = "/" + applicationName + "/Template/Index";
        var commitLoanPageURL = "/" + applicationName + "/ImportLoan/Index";
        var committedLoansPageURL = "/" + applicationName + "/LoanDataClient/Index";
        var registeredLoansPageURL = "/" + applicationName + "/RegisteredLoan/Index";
        var breezeFieldsPageUrl = "/" + applicationName + "/BreezeDataModelManagement/Index";
    }
    @Html.Hidden("ApplicationName", applicationName)
    <nav class="navbar navbar-default navbar-static-top header-layout-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img class="img" src="~/Content/images/PlazaLogo.png" alt="bulk upload" /></a>
            @*@if (User.Identity.IsAuthenticated)
                {*@
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-link"><a class="nav-link-fade-up" name="templates_link" href="@templatePageURL">TEMPLATE</a></li>
                    <li class="nav-link"><a class="nav-link-fade-up" name="commit_loan_link" href="@commitLoanPageURL">COMMIT LOAN</a></li>
                    <li class="nav-link"><a class="nav-link-fade-up" name="committed_loans_link" href="@committedLoansPageURL">COMMITTED LOANS</a></li>
                    <li class="nav-link"><a class="nav-link-fade-up" name="registered_loans_link" href="@registeredLoansPageURL">REGISTERED LOANS</a></li>
                    <li class="nav-link"><a class="nav-link-fade-up" name="breeze_fields_link" href="@breezeFieldsPageUrl">BREEZE FIELD MANAGEMENT</a></li>
                </ul>
            </div>
            @* }*@
        </div>
    </nav>
    <div class="container-fluid">
        <div class="panel panel-default pannel-cus">
            <div class="panel-body">
                @RenderBody()
            </div>
        </div>
        <footer></footer>
    </div>

    <div class="modal fade" id="modalWithLoadingSpinner" tabindex="-1" role="dialog" aria-labelledby="myModalDetail">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <p style="text-align:center;">
                    <i class="fa fa-spinner fa-spin" style="font-size:60px; margin-top:30px; margin-bottom: 30px;"></i>
                </p>
            </div>
        </div>
    </div>

</body>
</html>

<script>
    $(document).ready(function () {
        var path = this.location.pathname;
        if (path.indexOf("/Template") != -1) {
            $('a[name=templates_link]').addClass('nav-link-fade-up-active').removeClass('nav-link-fade-up');
        } else if (path.indexOf("/ImportLoan") != -1) {
            $('a[name=commit_loan_link]').addClass('nav-link-fade-up-active').removeClass('nav-link-fade-up');
        } else if (path.indexOf("/LoanDataClient") != -1) {
            $('a[name=committed_loans_link]').addClass('nav-link-fade-up-active').removeClass('nav-link-fade-up');
        } else if (path.indexOf("/RegisteredLoan") != -1) {
            $('a[name=registered_loans_link]').addClass('nav-link-fade-up-active').removeClass('nav-link-fade-up');
        } else if (path.indexOf("/BreezeDataModelManagement") != -1) {
            $('a[name=breeze_fields_link]').addClass('nav-link-fade-up-active').removeClass('nav-link-fade-up');
        } else {
            $('a[name=templates_link]').addClass('nav-link-fade-up-active').removeClass('nav-link-fade-up');
        }
    });
</script>