﻿@model BulkUpload.Models.ImportSessionModel
@using Newtonsoft.Json;

<div class="modal-header header-default-custom">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalimportResultModal"><i class="fa fa-download"></i> Commit Result</h4>
</div>
<div class="modal-body">
    <input type="hidden" name="importSessionId" value="@Model.ImportSessionId" />
    <input type="hidden" name="successfullyLoans" value="@JsonConvert.SerializeObject(Model.ImportResults.Where(x => x.IsSuccess).Select(x => x.LineNumber).ToList())" />
    @foreach (var item in Model.ImportResults)
    {
        if (item.IsSuccess)
        {
            <p class="text-success"><i class="fa fa-check-circle"></i> Loan number @item.ClientLoanNumber was @(item.IsOverridden ? "overwritten" : "committed")  successully.</p>
        }
        else
        {
            <p class="text-danger"><i class="fa fa-times-circle"></i> Failed to @(item.IsOverridden ? "overwrite" : "commit") loan number @item.ClientLoanNumber.</p>
        }
    }
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>