﻿@using Newtonsoft.Json;

@model BulkUpload.Models.PreviewClientLoansModel

@Html.Hidden("hiddenImportSessionId", 0)
@Html.Hidden("hiddenClientLoansJsonString", JsonConvert.SerializeObject(Model.Data))


<div class="container-fluid">
    <div class="row" style="margin-bottom: 15px; margin-top: 10px;">
        <div class="col-md-5">
            <p class="tip color-default">Tip: Double click on any row to view loan detail.</p>
        </div>
        <div class="col-md-7">
            <div class="float-right pull-right">
                <span class="div-color-note"></span><span class="label-title-note tip">Valid loan data</span>
                <span class="div-color-note tr-warning"></span><span class="label-title-note tip">Duplicated loan</span>
                <span class="div-color-note tr-error"></span><span class="label-title-note tip">Missing value/ Invalid data</span>
                <span class="div-color-note tr-fatal"></span><span class="label-title-note tip">Duplicated loan & Invalid fields</span>
            </div>
        </div>
    </div>

    <div class="wrapper1">
        <div class="scrool-table-1">
        </div>
    </div>
    <div class="wrapper2">
        <div class="scrool-table-2">
            <table class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>@Html.CheckBox("chkSelectAllToImport", false, new { @onchange = "ThePage.onSelectAllToImportChange(this)" })</th>
                        @foreach (var col in Model.Header.OrderBy(x => x.DisplayOrder).ThenBy(x=>x.ClientFileColumnName))
                        {
                            <th class="text-center">
                                <p name="preview-header" data-toggle="tooltip" title="@col.TooltipTitle" data-placement="top">
                                    @col.BreezeColumnName
                                    @if (col.IsMandatory)
                                    {
                                        <span style="color:red; margin-left:2px;">*</span>
                                    }
                                </p>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.Data)
                    {
                        var trClass = "tr-info";
                        if (row.InvalidDataRow && row.IsDuplicated)
                        {
                            trClass = "tr-fatal";
                        }
                        else if (row.InvalidDataRow)
                        {
                            trClass = "tr-error";
                        }
                        else if (row.IsDuplicated)
                        {
                            trClass = "tr-warning";
                        }
                        <tr name="clientLoanRow_@row.LineNumber"
                            class="@trClass"
                            data-line-number="@row.LineNumber"
                            data-valid-data-row="@row.InvalidDataRow"
                            data-duplicated-loan="@row.IsDuplicated"
                            ondblclick="ThePage.loadLoanDetails(this)">
                            <td>
                                @if (!row.InvalidDataRow)
                                {
                                    @Html.CheckBox($"chkSelectToImport_{row.LineNumber}", new { data_line_number = row.LineNumber, @onchange = "ThePage.onSelectToImportChange(this)" })
                                }
                            </td>
                            @foreach (var col in Model.Header.OrderBy(x => x.DisplayOrder).ThenBy(x => x.ClientFileColumnName))
                            {
                                var colData = row.LoanProps.FirstOrDefault(x => x.BreezeColumnName.ToLower().Equals(col.BreezeColumnName.ToLower()));
                                <td>@(colData?.DisplayValue ?? string.Empty)</td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</div>
<div class="col-md-12 text-left">
    <div class="padding-top"></div>
    <button id="btnImportLoan" class="btn bu-btn" disabled="disabled" onclick="ThePage.commitLoans()"><i class="fa fa-sign-in" aria-hidden="true"></i> Commit</button>
    @if (Model.Data.Any(x => x.InvalidDataRow))
    {
        <button id="btnImportLoan" class="btn bu-btn" onclick="ThePage.generateErrorLoansFile()"><i class="fa fa-sign-in" aria-hidden="true"></i> Export Error Loans</button>
    }
</div>

