﻿
@{
    ViewBag.Title = "Commit Loan";
}
@Html.AntiForgeryToken()

<div class="title-cus text-uppercase">
    Commit Loan
</div>
<div class="padding-top"></div>
<div id="loading" class="col-md-12 text-center"></div>
<div class="row">
    <form id="divUserSelections">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
                <label>Select Client</label>
                <select class="form-control" id="optClient" name="optClient" onchange="ThePage.onClientChange(this)">
                    <option value="0">Select Client</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
                <label>Select Template</label>
                <select class="form-control" id="optTemplate" name="optTemplate" onchange="ThePage.onTemplateChange(this)">
                    <option value="0">Select Template</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <label>Select Loan File</label>
            <div class="input-group">
                <input readonly="readonly"
                       placeholder="Select client loan data file"
                       id="file-return"
                       class="form-control"
                       name="filename"
                       type="text"
                       onclick="(function() { $('#fileUpload').click(); })()">

                <span class="input-group-btn">
                    <span class="btn btn-default btn-file">
                        Browse...
                        <input class="input-file" id="fileUpload" type="file" name="fileUpload" onchange="ThePage.onFileChange(this)">
                    </span>
                </span>
            </div>
        </div>
    </form>
    <div class="col-md-12">
        <div id="divPreviewClientLoans" class="row preview"></div>
    </div>
    <div class="col-md-12">
        <p id="generatePreviewContentFailure" class="error-text" style="text-align:center; display:none;">Error reading loan detail.</p>
    </div>
</div>

<div class="modal fade" id="overrideLoansConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalimportResultModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-confirm-override-loans tr-warning">
                <h4 class="modal-title" id="myModalimportResultModal"><i class="fa fa-exclamation-triangle"></i> Warning</h4>
            </div>
            <div class="modal-body">
                <p>The following loan(s) were already committed:</p>
                <div id="duplicatedLoanList"></div>
                <p style="margin-top:20px; font-weight:bold;">Would you like to overwrite these loans?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-customer" name="confirm-modal-confirmed">Confirm</button>
                <button type="button" class="btn btn-default" name="confirm-modal-declined">Cancel</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/import-loan")
