﻿body {
    font: 500 12px "Nunito Sans", sans-serif !important;
    padding-top: 0px !important;
    padding-bottom: 0px;
}
a {
    text-decoration: none !important;
}
.navbar {
    margin: 0px !important;
}

.header-active {
    background: #9be1db;
    padding-bottom: 30px;
    color: white;
    text-decoration: underline;
    text-decoration-color: #00B097;
    text-decoration-style: solid;
}

.header-template {
    padding-top: 20px;
    text-decoration: underline;
    text-decoration-color: #00B097;
    text-decoration-style: solid;
    font-size: 14px;
    color: #00B097 !important;
}

    .header-template :hover {
        color: #00B097 !important;
        text-decoration: underline;
        text-decoration-color: #00B097;
        text-decoration-style: solid;
    }

.navbar-brand {
    float: left;
    height: auto !important;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-nav > li > a {
    padding-top: 25px !important;
}

.btn-icon {
    text-decoration:none;
    background: none;
    border: none;
    font-size: 20px;
    color: #00B097
}

#notifications {
    cursor: pointer;
    position: fixed;
    right: 0px;
    z-index: 9999;
    bottom: 0px;
    margin-bottom: 22px;
    margin-right: 15px;
    max-width: 300px;
}

.btn-customer {
    color: #fff;
    border-color: #00B097;
    background: #00B097 !important;
    border-radius: 0px;
}

.notifications {
    position: fixed;
    z-index: 9999;
}

    /* Positioning */
    .notifications.top-right {
        right: 10px;
        top: 25px;
    }

    .notifications.top-left {
        left: 10px;
        top: 25px;
    }

    .notifications.bottom-left {
        left: 10px;
        bottom: 25px;
    }

    .notifications.bottom-right {
        right: 10px;
        bottom: 25px;
    }

    /* Notification Element */
    .notifications > div {
        position: relative;
        margin: 5px 0px;
    }
