﻿@model List<BulkUpload.Models.RegisteredLoanModel>

@if (Model.Any())
{
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="header-background">
                @*<th class="text-center">@Html.CheckBox("chkAllExportLoan")</th>*@
                <th>
                    Client
                </th>
                <th>
                    Client Loan Number
                </th>
                <th>
                    Breeze Loan Number
                </th>
                <th>
                    Registered Date
                </th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @*<td class="text-center">@Html.CheckBox($"chkExportLoan_{item.ClientLoanId}", new { data_client_loan_id = item.ClientLoanId })</td>*@
                <td>
                    @item.Client
                </td>
                <td>
                    @item.LoanNumber
                </td>
                <td>
                    @item.BreezeLoanId
                </td>
                <td>
                    @item.RegisteredDate.ToString("M/d/yyyy")
                </td>
                <td style="text-align:center;">
                    <a name="btnDetail" class="action-item cursor-pointer" data-toggle="tooltip" title="Click to view loan details" data-client-loan-id="@item.ClientLoanId"><i class="fa fa-eye"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    @*<div class="text-left">
        <div class="padding-top"></div>
        <button name="btnExportLoan" class="btn bu-btn" disabled="disabled"><i class="fa fa-file-o" aria-hidden="true"></i> Export Loan</button>
    </div>*@
}
else
{
    <p style="font-style:italic; text-align:center;margin-top:20px;">No loan found.</p>
}