﻿@{
    ViewBag.Title = "Registered Loans";
}

<div class="title-cus text-uppercase">
    Registered Loans
</div>
<div id="loading" class="text-center padding-top"></div>
<div id="lstRegisteredLoan" class="scroll-overflow"></div>

@Scripts.Render("~/bundles/registered-loan")