﻿@model IEnumerable<BulkUpload.Models.TemplateModel>

@if (Model.Any())
{
    var applicationName = System.Configuration.ConfigurationManager.AppSettings["ApplicationName"];
    
    <table class="table table-bordered table-hover table-striped" id="tableTemplate">
        <thead>
            <tr class="header-background">
                <th> Client Name </th>
                <th> Template Name </th>
                <th> File Name </th>
                <th> Mappings </th>
                <th style="text-align:center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var templateDetailURL = "/" + applicationName + "/Template/Detail/" + @item.TemplateId;
                <tr id="trTemplate_@item.TemplateId">
                    <td>
                        @item.ClientName
                    </td>
                    <td>
                        <a title="Template detail" class="" id="detailTemplate" data-toggle="tooltip" data-placement="top" href="@templateDetailURL" data-detail-template-id="@item.TemplateId" data-detail-template-name="@item.TemplateName" data-detail-client-id="@item.ClientId">
                            @Html.DisplayFor(modelItem => item.TemplateName)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UploadFile)
                    </td>
                    <td>
                        @if (item.ColumnMappings.Count > 0)
                        {
                            <a name="btnColumnMapping" href="#" data-column-template-id="@item.TemplateId">@item.ColumnMappings.Count mapping(s)</a>
                        }
                        else
                        {
                            <span>no mapping</span>
                        }

                    </td>
                    <td style="text-align:center">

                        <a name="btnEditTemplate"
                           href="@templateDetailURL"
                           class="fa fa-eye btn-icon"
                           title="Edit Template"
                           data-toggle="tooltip"
                           data-placement="top">
                        </a>

                        <a name="btnCloneTemplate"
                           class="fa fa-copy btn-icon"
                           title="Clone Template"
                           data-toggle="tooltip"
                           data-placement="top"
                           data-target="#cloneTemplateModal"
                           data-from-template-id="@item.TemplateId"
                           data-from-template-name="@item.TemplateName"
                           data-from-client-id="@item.ClientId"></a>

                        <a name="btnDeleteTemplate"
                           class="fa fa-trash-o btn-icon"
                           title="Delete Template"
                           data-toggle="tooltip" data-placement="top"
                           data-template-id="@item.TemplateId"
                           data-template-name="@item.TemplateName"></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    @*<div class="text-center" style="font-style: italic"><p>no templates found</p></div>*@
}


