﻿@model IEnumerable<BulkUpload.Entities.ColumnMapping>

<div class="modal-header header-default-custom">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><i class="fa fa-columns" aria-hidden="true"></i> Column Mapping</h4>
</div>
<div class="modal-body">
    <div class="limit-modal">
        @if (Model.Any())
        {
            <table class="table table-striped">
                <thead class="text-uppercase">
                    <tr>
                        <th>Client Column Name </th>
                        <th>Breeze Field Name </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ClientColumnName</td>
                            <td>@item.BreezeColumnName</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>




