﻿@model BulkUpload.Models.TemplateMapping

<tr name="columnMapping">
    <td class="form-group-sm">
        @Html.DropDownListFor(m => m.ClientColumnName,
                            (IEnumerable<SelectListItem>)ViewBag.ClientColumns,
                            new { @class = "form-control", @onChange = "ThePage.onClientColumnChange(this)", data_old_val = Model.ClientColumnName })
    </td>
    <td class="form-group-sm">
        @if (Model.IsMandatory)
        {
            @Html.DropDownListFor(m => m.LoanDataPropertyName,
                                     (IEnumerable<SelectListItem>)ViewBag.BreezeColumns,
                                     new { @class = "form-control", @onChange = "ThePage.onBreezeColumnChange(this)", data_old_val = Model.LoanDataPropertyName, @disabled = "disabled" })
        }
        else
        {
            @Html.DropDownListFor(m => m.LoanDataPropertyName,
                                (IEnumerable<SelectListItem>)ViewBag.BreezeColumns,
                                new { @class = "form-control", @onChange = "ThePage.onBreezeColumnChange(this)", data_old_val = Model.LoanDataPropertyName})
        }

    </td>
    <td class="form-group-sm">
        @if (Model.IsMandatory)
        {
            <i data-toggle="tooltip" data-placement="top" class="glyphicon glyphicon-asterisk form-control" style="color:#f96666;border:unset" name="" title="Required"></i>
        }
        else
        {
            <i title="Remove" data-toggle="tooltip" data-placement="top" class="btn glyphicon glyphicon-remove form-control" style="color:red" name="remove-row-col-mapping" onclick="ThePage.removeMapping(this)"></i>
        }
    </td>
</tr>




