﻿
@{
    var title = ViewBag.TemplateId == 0 ? "Create Template" : "Edit Template";
    ViewBag.Title = title;
}

@Html.AntiForgeryToken()

@Html.Hidden("hiddenTemplateId", (object)ViewBag.TemplateId)

<div class="row">
    <div class="col-md-12">
        <div class="title-cus text-uppercase">
            @title
        </div>
    </div>
    <div class="col-md-12" id="templateDetailContent">
        <div class="col-md-4">
            <div class="row padding-top form-group bu-form-row">
                <label>Template Name</label>
                <input id="templateName" class="form-control" type="text" placeholder="Input template name" />
            </div>
            <div class="row padding-top form-group bu-form-row">
                <label>Client Name</label>
                <select id="clientOption" class="form-control"></select>
            </div>
            <div class="row padding-top form-group bu-form-row">
                <label>Template File</label>
                <div class="input-group validator-file-upload">
                    <input readonly="true" placeholder="Select client template file" id="fileNameShow" class="form-control" name="filename" type="text" onclick="ThePage.showFileName()">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            Browse...
                            <input class="input-file" id="clientFileUpload" type="file" name="fileUpload" onchange="ThePage.onUploadFileChange(this)">
                        </span>
                    </span>
                </div>
            </div>
            <div class="row padding-top form-group bu-form-row btn-group">
                <a class="btn btn-default" style="width: 50%" onclick="ThePage.backToTemplateManagement()"><i class="fa fa-reply"></i> Back to template list</a>
                <button type="button" class="btn bu-btn" id="btnSaveTemplate" style="width: 50%; color:white; background-color:#00B097" onclick="ThePage.saveTemplate()"><i class="fa fa-save"></i> Save</button>
            </div>
        </div>
        <div class="col-sm-8" style="border-left: 1px solid #00B097" id="divTableCreateColMapping">
            <p style="text-align:center;" id="ajaxLoandingReadFile" class="hide">
                <i class="fa fa-spinner fa-spin" style="font-size:60px; margin-top:30px; margin-bottom: 30px;"></i>
            </p>
            <div class="col-md-12">
                <table style="width:100%" class="table table-bordered text-center table-hover fixed" id="tableColumnMapping">
                    <tr style="background:#00B097; color: white" class="text-uppercase">
                        <th class="text-center">Client Column Name</th>
                        <th class="text-center">Breeze Column Name</th>
                        <th class="text-center" style="width: 50px; color:white" id="_thAction"></th>
                    </tr>
                </table>
            </div>
            <div id="isShowBtnColMapping">
                <div class="col-md-12">
                    <button type="button" class="btn bu-btn" id="addColumnMapping" title="Add column" onclick="ThePage.addColumnMapping()"><i class="glyphicon glyphicon-plus"></i> Add Column</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Ajax Loanding--->
<div class="modal" id="modalAjaxLoading">
    <div class="modal-dialog modal-dialog-centered">
        <div class="" style="padding: 50%;margin: -8px;">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/template-detail")