﻿
@{
    ViewBag.Title = "Templates";

    var applicationName = System.Configuration.ConfigurationManager.AppSettings["ApplicationName"];
    var templateDetailURL = "/" + applicationName + "/Template/Detail";
}

@Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-6 title-cus text-uppercase">
        Template management
    </div>
    <div class="col-md-6 text-right">
        <a href="@templateDetailURL" class="btn bu-btn text-uppercase">
            <i class="fa fa-plus" aria-hidden="true"></i> Create template
        </a>
    </div>
</div>
<div id="loading" class="text-center padding-top"></div>
<div id="lstTemplate" class="scroll-overflow"></div>

<!-- Modal Clone tempalte -->
<div class="modal fade" id="cloneTemplateModal" tabindex="-1" role="dialog" aria-labelledby="myModalClone">
    <div class="modal-dialog" role="document">
        <input type="hidden" id="fromTemplateId" />
        <div class="modal-content">
            <div class="modal-header header-default-custom">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalClone"><i class="fa fa-copy" aria-hidden="true"></i> Clone Template</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label>New Template Name</label>
                    <input type="text" id="newTemplateName" class="form-control" />
                    <p id="messageerror" class="error-text" style="padding: 3px 0px 0px 3px; display:none;"></p>
                </div>

                <div class="padding-top" style="padding-top: 20px">
                    <label>Client</label>
                    <select id="ddlClient" class="form-control"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-customer" id="cloneTemplate" data-target="#cloneTemplate">Clone</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete-->
<div class="modal fade" id="deleteTemplateModal" tabindex="-1" role="dialog" aria-labelledby="myModalDelete">
    <div class="modal-dialog" role="document">
        <input type="hidden" id="templateToDetele" />
        <div class="modal-content">
            <div class="modal-header header-delete-custom">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalDelete"><i class="fa fa-trash" aria-hidden="true"></i> Delete Template</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete "<label id="templateName"></label>" template?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="deleteTemplate">Delete</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/templates")

